@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 24px 70px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 50%;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    position: relative;
    background: #0066CC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 7px 15px;
    margin-right: 10px;

}

.text:after {
    box-sizing: content-box;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -9px;
    bottom: 0;
    border-width: 12px;
    border-style: solid;
    border-color: #0066CC;
    border-top-color: transparent;
    border-right-color: transparent;
}

.name {
    font-weight: 600;
    padding-bottom: 3px;
}

.messageText {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.time {
    margin: 5px 11px;
    font-size: 10px;
    font-weight: 600;
    color: black;
}
