@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.App {
    --header_height: 60px;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-top: 3%;
    margin-left: 70px;
}