@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.sendForm {
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
}

.textarea {
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 976px;
    border-radius: 20px;
    padding: 10px 25px;
}

.button {
    border-radius: 20px;
    background: #0066CC;
    color: white;
    width: 120px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 600;
    font-size: 16px;
    border: 0;
}

.button:hover {

}

.button:active {

}
